{% set display = [] %}
{% if variables.contact.field_firstname.value %}
  {% set display = display|merge([variables.contact.field_firstname.value])  %}
{% endif %}
{% if variables.contact.field_lastname.value %}
  {% set display = display|merge([variables.contact.field_lastname.value])  %}
{% endif %}
{% if not display %}
  {% set display = [variables.contact.title.value] %}
{% endif %}

<div class="card card-white card-no-border">
  <div class="card-body card-berrylight-gray">
    <h2 class="card-title">{{ display|join(' ') }}</h2>
    <p>
      {% if variables.contact.field_function.value %}<strong>{{ variables.contact.field_function.value }}</strong> <br />{% endif %}
      {% if variables.contact.field_specialty.value %}{{ variables.contact.field_specialty.value }} <br />{% endif %}
      {% if variables.contact.field_entity.value %}{{ variables.contact.field_entity.value }}{% endif %}
    </p>
    <div>{{ variables.contact.body.value|raw }}</div>

    {% if variables.contact.field_phone.value %}
      {% set tel = variables.contact.field_phone.value|replace({' ': ''}) %}
      <a class="block-link" href="tel:{{ tel }}">
        <div class="text-small block-link-label">{% trans %}Par téléphone{% endtrans %}</div>
        <div class="text-bold text-no-wrap">{{ variables.contact.field_phone.value }}</div>
      </a>
    {%- endif -%}

    {%- if variables.contact.field_email.value -%}
      <a class="block-link" href="mailto:{{ variables.contact.field_email.value }}">
        <span class="text-bold text-break-all">{% trans %}Par e-mail{% endtrans %}</span>
      </a>
    {%- endif -%}

    {%- if variables.contact.field_fax.value -%}
      <a class="block-link" href="tel:{{ variables.contact.field_fax.value|replace(' ', '') }}">
        <div class="text-small block-link-label">{% trans %}Par fax{% endtrans %}</div>
        <div class="text-bold text-no-wrap">{{ variables.contact.field_fax.value }}</div>
      </a>
    {%- endif -%}

  </div>
</div>
