<div class="teaser-contact-placeholder teaser-contact-placeholder-{{ variables.theme }} shadow shadow-down">
  <div class="teaser-contact-placeholder-heading">
    <div class="heading-image" style="background-image: url({{ file_url(variables.cover.xl) }})"></div>
    <div class="loader-image">
      <div class="loader">
        <div class="loader-yingyang loader-{{ variables.theme }}"></div>
      </div>
    </div>
  </div>
  <div class="teaser-contact-placeholder-body">
    <p>{% trans %}N'hésitez pas à nous contacter au{% endtrans %} <a class="pretty-link text-bold text-{{ variables.theme }}" href="tel:+41 21 348 21 11">+41 21 348 21 11</a>.</p>
    <hr />
    <p>{% trans %}Ou retrouvez votre contact régional en entrant votre code postal{% endtrans %}<p>
    <form class="form-inline">
      <div class="form-group">
        <input class="form-control form-control-{{ variables.theme }}" id="zip" type="text" placeholder="Votre NPA"></input>
      </div>
      <div class="form-group">
        <input class="btn btn-{{ variables.theme }}" type="submit" value="Trouver"></input>
      </div>
    </form>
  </div>
</div>
