{% set link = path('entity.node.canonical', {'node': variables.contact.nid.value}) %}

{% set display = [] %}
{% if variables.contact.field_firstname.value %}
  {% set display = display|merge([variables.contact.field_firstname.value])  %}
{% endif %}
{% if variables.contact.field_lastname.value %}
  {% set display = display|merge([variables.contact.field_lastname.value])  %}
{% endif %}
{% if not display %}
  {% set display = [variables.contact.title.value] %}
{% endif %}

<div class="card card-horizontal card-white">
  {% if not variables.contact.field_cover.entity.uri.value is empty %}
  <a href="{{ link }}" class="card-img-top">
    <div class="card-img-bg" style="background-image:url({{ file_url(variables.cover.xl) }});"></div>
    <div class="loader-image"><div class="loader"><div class="loader-snake"></div></div></div>
  </a>
  {% endif %}

  <div class="card-body">
    <p class="sr-only">{% trans %}Information de contact pour{% endtrans %} {{ display|join(' ') }}</p>
    <h3 class="card-title">
      <a href="{{ link }}">{{ display|join(' ') }}</a>
    </h3>
    <p>
      {%- spaceless %}
        {%- if variables.contact.field_firstname.value or variables.contact.field_lastname.value -%}
          {% trans %}Joindre directement votre contact{% endtrans %}
        {%- else -%}
          {% trans %}N'hésitez pas à nous contacter {% endtrans %}
        {%- endif -%}

        {% if variables.contact.field_phone.value %}
          {% set tel = variables.contact.field_phone.value|replace({' ': ''}) %}
          {% trans %} au <a class="pretty-link text-bold text-no-wrap" href="tel:{{ tel }}">{{ variables.contact.field_phone.value }}</a>{% endtrans %}
        {%- endif -%}

        {%- if variables.contact.field_email.value -%}
          {% trans %}, par e-mail via <a class="pretty-link text-bold text-break-all" href="mailto:{{ variables.contact.field_email.value }}">{{ variables.contact.field_email.value }}</a>{% endtrans %}
        {%- endif -%}

        {%- if variables.contact.field_fax.value -%}
          {% set fax = variables.contact.field_fax.value|replace({' ': ''}) %}
          {% trans %} ou par fax au <a class="pretty-link text-no-wrap text-bold" href="tel:{{ fax }}">{{ variables.contact.field_fax.value }}</a>.{% endtrans %}
        {%- else -%}
          .
        {%- endif -%}
      {% endspaceless -%}
    </p>

    {% if variables.btn %}
      <p>
        <a href="{{ link }}" class="btn btn-primary">Contacter</a>
      </p>
    {% endif %}

    {% if variables.search_npa %}
      <hr>
      <p class="m-0">{% trans %}Ou retrouvez votre contact régional en entrant votre code postal{% endtrans %}</p>
      <form class="form-inline js-search-zip" method="GET" data-ajax="{{ path('rp_contact.search_zip') }}">
        <div class="form-group m-t-0">
          <input class="form-control js-zip-input" name="zip" type="text" placeholder="Votre NPA"></input>
        </div>
        <div class="form-group m-t-0">
          <input class="btn btn-primary" type="submit" value="Trouver"></input>
        </div>
        <div class="zip-results js-zip-results">
          <div class="js-zip-loader loader hidden">
            <div class="loader-snake"></div>
          </div>
          <div class="js-zip-results-list"></div>
        </div>
      </form>
    {% endif %}

  </div>
</div>
