{% set theme = variables.node.field_profession.entity.tid.value|theme_profession %}
{% set link = path('entity.node.canonical', {'node': variables.contact.nid.value}) %}
<div class="teaser-contact teaser-contact-{{ theme }} shadow shadow-down">
  {% if not variables.contact.field_cover.entity.uri.value is empty %}
    <a href="{{ link }}" class="teaser-contact-heading">
      <div class="heading-image" style="background-image: url({{ file_url(variables.contact.field_cover.entity.uri.value) }})"></div>
      <div class="loader-image">
        <div class="loader">
          <div class="loader-yingyang loader-{{ theme }}"></div>
        </div>
      </div>
    </a>
  {% endif %}

  <div class="teaser-contact-body">
    <a href="{{ link }}" class="h3 pretty-link text-{{ theme }}">
      {% set display = [] %}
      {% if variables.contact.field_firstname.value %}
        {% set display = display|merge([variables.contact.field_firstname.value])  %}
      {% endif %}
      {% if variables.contact.field_lastname.value %}
        {% set display = display|merge([variables.contact.field_lastname.value])  %}
      {% endif %}
      {% if not display %}
        {% set display = [variables.contact.title.value] %}
      {% endif %}
      {{ display|join(' ') }}
    </a>
    <div class="spacer spacer-sm"></div>
    <p>
      {%- if variables.contact.field_firstname.value or variables.contact.field_lastname.value -%}
        {% trans %}Joindre directement votre contact au {% endtrans %}
      {%- else -%}
        {% trans %}N'hésitez pas à nous contacter {% endtrans %}
      {%- endif -%}

      {% if variables.contact.field_phone.value %}
        {% trans %} au <a class="pretty-link text-bold text-{{ theme }}" href="tel:{{ variables.contact.field_phone.value }}">{{ variables.contact.field_phone.value }}</a>{% endtrans %}
      {%- endif -%}

      {%- if variables.contact.field_email.value -%}
        {% trans %}, par e-mail via <a class="pretty-link text-bold text-{{ theme }}" href="mailto:{{ variables.contact.field_email.value }}">{{ variables.contact.field_email.value }}</a>{% endtrans %}
      {%- endif -%}

      {%- if variables.contact.field_fax.value -%}
        {% trans %} ou par fax au <a class="pretty-link text-bold text-{{ theme }}" href="tel:{{ variables.contact.field_fax.value }}">{{ variables.contact.field_fax.value }}</a>.{% endtrans %}
      {%- else -%}
        .
      {%- endif -%}
    </p>
    <a href="{{ link }}" class="btn btn-{{ theme }}">Contacter</a>
  </div>
</div>
