<nav class="navbar" aria-label="{% trans %}Navigation principale{% endtrans %}">
  <a id="main-navigation" aria-label="{% trans %}Navigation principale{% endtrans %}"></a>
  <h2 class="sr-only">{% trans %}Navigation principale{% endtrans %}</h2>
  <ul class="list-unstyled m-0">
    {% for item in main_menu %}
    {% set classes = [
      item.inActiveTrail ? 'active'
    ] %}
    <li class="{{ classes|join(' ') }}">
      {% set target = item.link.options.external ? '_blank' %}
      {% set url = item.inActiveTrail ? '#main-content' : item.link.urlObject %}
      <a href="{{ url|default('#') }}" class="{{ classes|join(' ') }}" target="{{ target }}">
        {% if item.inActiveTrail %}<span class="sr-only">{% trans %}Page active{% endtrans %}</span>{% endif %} {{ item.link.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
