<nav class="push-menu" aria-label="{% trans %}Navigation principale - Mobile{% endtrans %}">

  {# main menu #}
  <ul class="list-unstyled m-b-1 main-navigation">
  {% for item in main_menu  %}
    {% set classes = [
      item.inActiveTrail ? 'active',
    ] %}
    <li class="{{ classes|join(' ') }}">
      {% set target = item.link.options.external ? '_blank' %}
        <a href="{{ item.link.urlObject }}" class="pretty-link" target="{{ target }}">{{ item.link.title }}</a>
        {% if item.hasChildren %}
          <ul>
            {% for subitem in item.subtree %}
              {% set classes = [
                subitem.inActiveTrail ? 'active',
              ] %}
              <li class="{{ classes|join(' ') }}">
                {% set target = subitem.link.options.external ? '_blank' %}
                  <a href="{{ subitem.link.urlObject }}" target="{{ target }}">{{ subitem.link.title }}</a>
                  {% if subitem.hasChildren %}
                  <ul>
                    {% for lastitem in subitem.subtree %}
                      {% set classes = [
                        lastitem.inActiveTrail ? 'active',
                      ] %}
                      <li class="{{ classes|join(' ') }}">
                        {% set target = lastitem.link.options.external ? '_blank' %}
                        <a href="{{ lastitem.link.urlObject }}" target="{{ target }}">{{ lastitem.link.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {# search #}
  {# We can't use the SearchForm cause it this block use caching & it would keep value of field #}
  <form class="mandants-search-form" action="{{ path('rp_site.search') }}" method="GET" accept-charset="UTF-8">
    <div class="form-group">
      <div class="input-group full-width">
        <div class="form-item form-no-label">
          <input class="full-width form-text required form-control" id="edit-q" name="q" value="" size="60" maxlength="128" placeholder="{% trans %}Chercher un produit, un document, un contact, ...{% endtrans %}" required="required" aria-required="true" type="text">
        </div>
        <span class="input-group-btn">
          <button class="btn btn-default button form-submit btn btn-primary" icon="retraitespopulaires-icon retraitespopulaires-icon-search" type="submit" id="edit-submit" name="op" value="">
            <i class="retraitespopulaires-icon retraitespopulaires-icon-search"></i>
          </button>
        </span>
      </div>
    </div>
  </form>

  {# pre main menu #}
  <ul class="prenavbar list-unstyled list-inline m-0" role="navigation" aria-label="{% trans %}Navigation secondaire{% endtrans %}">
    {% for item in pre_main_menu %}
      {% set classes = [
        item.inActiveTrail ? 'active'
      ] %}
      <li class="{{ classes|join(' ') }}">
        {% set classes = [
          'text-muted',
          'small',
          item.inActiveTrail ? 'active',
        ] %}
        {% set target = item.link.options.external ? '_blank' %}
        {% set url = item.inActiveTrail ? '#main-content' : item.link.urlObject %}
        <a href="{{ url|default('#') }}" class="{{ classes|join(' ') }}" target="{{ target }}">
          {% if item.inActiveTrail %}<span class="sr-only">{% trans %}Page active{% endtrans %}</span>{% endif %} {{ item.link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
