{% include '@retraitespopulaires/rp_layout/blocks/partials/a11y-menu.html.twig' %}

{% import _self as menus %}

{# Big fancy menu with collapses #}
<div class="mobile-menu" id="mobile-menu">
  <div class="container-collapser-menu container">
    <div class="collapser-menu col-xs-12">
      {{ menus.menu_links(main_menu, 0) }}
    </div>

    <div class="row">
      <div class="col-no-padding col-xs-12 visible-sm visible-xs">
        {{ load_form('rp_site', 'SearchForm') }}
        <div class="spacer"></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
      <div class="big-menu-secondary-nav-wrapper">
        <div class="big-menu-secondary-nav bg-berrylight-gray visible-xs visible-sm">
          <div class="row">
            <div class="spacer spacer-sm"></div>
            {% set linksPerColumn = (pre_main_menu|length / 2)|round(0, 'ceil') %}
            {% for item in pre_main_menu %}
              {% set classes = [
              item.link.pluginId,
              item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' ? 'icon-text',
              item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' ? 'icon-text-locker',
              ] %}
              {% if linksPerColumn == 1 or loop.index % linksPerColumn == 1 %}
                <div class="col-xs-6">
                <ul class="list-no-style list-no-padding {{ loop.first ? 'text-right' }}">
              {% endif %}
              <li class="{{ classes|join(' ') }}">
                {% set target = item.link.options.external ? ' target="_blank"' %}
                <a class="pretty-link pretty-link-berrylight-gray" href="{{ item.link.urlObject }}"{{ target }}>
                  {{ item.link.title }}
                  {% if item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' %}
                    <i class="text-primary retraitespopulaires-icon retraitespopulaires-icon-lock"></i>
                  {% endif %}
                </a>
              </li>
              {% if loop.last or loop.index % linksPerColumn == 0 %}
                </ul>
                </div>
              {% endif %}
            {% endfor %}
            <div class="spacer"></div>
          </div>
        </div>
        <ul class="list-spaced list-no-style list-no-padding hidden-xs hidden-sm" role="navigation">
          {% for item in pre_main_menu %}
            {% set classes = [
            item.link.pluginId,
            item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' ? 'icon-text',
            item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' ? 'icon-text-locker',
            ] %}
            {% set target = item.link.options.external ? ' target="_blank"' %}
            <li class="{{ classes|join(' ') }}">
              <a class="pretty-link" href="{{ item.link.urlObject }}"{{ target }}>
                {{ item.link.title }}
                {% if item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' %}
                  <i
                    class="text-primary retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-lock"></i>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</div>

{% macro menu_links(items, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
<ul class="list-no-style list-no-padding">
  {% else %}
  <ul>
    {% endif %}

    {% for item in items %}
      <!-- Get Theme from position into the menu -->
      {% set theme = [
      loop.index0 == 0 ? 'assurance',
      loop.index0 == 1 ? 'prevoyance',
      loop.index0 == 2 ? 'immobilier',
      loop.index0 == 3 ? 'hypotheque',
      loop.index0 >= 4 ? 'primary',
      ] %}

      {% set classes = [
      item.inActiveTrail ? 'active',
      item.link.pluginId|clean_class,
      'theme-' ~ theme|join,
      ] %}
      <li class="{{ classes|join(' ') }}">
        <div class="collapser-menu-item">
          {% set target = item.link.options.external ? ' target="_blank"' %}
          <span>
            <a href="{{ item.link.urlObject }}" class="pretty-link"{{ target }}>{{ item.link.title }}</a>
          </span>
          {% if item.subtree %}
            <button
              class="btn btn-circle btn-outline btn-primary collapsed"
              title="{{ 'Ouvrir le sous-menu @menu'|t({'@menu': item.link.title}) }}"
              type="button"
              data-toggle="collapse"
              data-target="#{{ item.link.pluginId|clean_id }}"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              <span class="retraitespopulaires-icon retraitespopulaires-icon-angle" aria-hidden="true"></span>
            </button>
          {% endif %}
        </div>
        <div class="collapse" id="{{ item.link.pluginId|clean_id }}">
          {{ menus.menu_links(item.subtree, menu_level + 1) }}
        </div>
      </li>
    {% endfor %}

  </ul>
  {% endif %}
  {% endmacro %}
