{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the navigation (collapsible) region.
 * - page.secondary_menu: Items for the secondary navigation region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{# page.header #}
{% set fullscreen = node.field_full_screen_content.value == 1 or node.type == 'webform' %}

<div class="theme-{{ theme_guesser() }}">
{% block cover %}
  {{ bamboo_render_block('rp_layout_cover_block') }}
{% endblock %}

{# Page Header #}
{% if page.header %}
{% set header_classes = [
  'col-xs-12',
  'col-md-10',
  'col-md-push-1',
  'col-xl-6',
  'col-xl-push-3',
] %}
<div class="container">
  <div class="row">
    <div class="{{ header_classes|join(' ') }}">
      {% block header %} {{ page.header }} {% endblock %}
    </div>
  </div>
</div>
{% endif %}

{# Breadcrumbs #}
{% if page.breadcrumb %}
  {% set breadcrumb_classes = [
    'col-xs-12',
    not fullscreen ? 'col-md-7 col-md-offset-4 col-lg-8 col-lg-offset-3' : 'col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2',
    'col-xl-6',
    'col-xl-offset-3',
    'text-center',
  ] %}
  {% block breadcrumb %}
    <div class="spacer spacer-xs"></div>
    <div class="container">
      <div class="row">
        <div class="{{ breadcrumb_classes|join(' ') }}">
          {{ page.breadcrumb }}
        </div>
      </div>
    </div>
  {% endblock %}
{% endif %}


{# Main #}
{% block main %}

  {# Main Content #}
  {% block main_content %}
    {% set entity_content_classes = [
      'col-xs-12',
      not fullscreen ? 'col-md-7 col-md-push-4 col-lg-8 col-lg-push-3' : 'col-md-10 col-md-push-1 col-lg-8 col-lg-push-2',
      'col-xl-8',
      'col-xl-push-2',
    ] %}
    {% set secondarynav_classes = [
      'col-xs-12',
      'col-md-4',
      'col-md-pull-7',
      'col-lg-3',
      'col-lg-pull-8',
      'col-xl-2',
      'col-xl-pull-8',
    ] %}
    <div role="main" class="main-container container-fluid">
      <div class="row">
        <div class="{{ entity_content_classes|join(' ') }}">
          <div class="entity-content">
            <section{{ content_attributes.addClass(content_classes) }}>
              {# Content #}
              {% block content %}
                <a id="main-content"></a>
                {{ page.content }}
              {% endblock %}
            </section>
          </div>
          {% block main_bottom_content %}{% endblock %}
        </div>
        <div class="{{ secondarynav_classes|join(' ') }}">
          {{ bamboo_render_block('rp_layout_secondarynav_block') }}

          {# Sidebar First #}
          {% if page.sidebar_first %}
            {% block sidebar_first %}
              <aside class="col-sm-3" role="complementary">
                {{ page.sidebar_first }}
              </aside>
            {% endblock %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endblock %}

  {% block attachments %}
    {% block attachments_contact %}{{ bamboo_render_block('rp_contact_contact_attachment_block') }}{% endblock %}
    {% block attachments_attachments %}{{ bamboo_render_block('rp_site_attachments_block') }}{% endblock %}
    {% block attachments_news_latest %}{{ bamboo_render_block('rp_site_news_latest_block') }}{% endblock %}
  {% endblock attachments %}

  {# Content Bottom #}
  {% if page.content_bottom %}
  <div class="col-sm-12">
    <div class="row">
        {% block content_bottom %}
            {{ page.content_bottom }}
        {% endblock %}
    </div>
  </div>
  {% endif %}

{% endblock %}

{# Content footer #}
{% if page.content_footer %}
  {% block content_footer %}
    {{ page.content_footer }}
  {% endblock %}
{% endif %}
</div>
