{% extends "@retraitespopulaires/pages/page-fullscreen.html.twig" %}

{% block breadcrumb %}{% endblock %}

  {# Main Content #}
  {% block main_content %}
  <div role="main" class="main-container container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="entity-content">
          <section{{ content_attributes.addClass(content_classes) }}>
            {# Content #}
            {% block content %}
              <a id="main-content"></a>
            {% endblock %}

            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  {% if node.body.summary %}
                    <h1 class="page-title text-center">{{ node.body.summary|nl2br }}</h1>
                  {% endif %}

                  {% if node.body.value %}
                    <div class="entity-body text-center">
                      {{ node.body.value|raw }}
                    </div>
                    <div class="spacer spacer-sm"></div>
                  {% endif %}
                </div>
              </div>
            </div>

            {{ load_block('rp_homepage_profils_collection_block') }}
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block attachments %}{{ load_block('rp_site_news_promoted_block') }}{% endblock %}
{% block content_bottom %}{% endblock %}
{% block content_footer %}{% endblock %}
