{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
<div class="breadcrumb">
  <ul class="list-inline list-no-style list-no-padding">
    {% set theme = [
      breadcrumb[1].url == '/node/45' ? 'text-assurance',
      breadcrumb[1].url == '/node/46' ? 'text-prevoyance',
      breadcrumb[1].url == '/node/47' ? 'text-immobilier',
      breadcrumb[1].url == '/node/48' ? 'text-hypotheque',
    ] %}

    {% for item in breadcrumb %}
      {% set classes = [
        loop.first ? 'text-primary',
        loop.last ? 'text-muted',
        (not loop.first and not loop.last) ? theme|join(' '),
      ] %}

      {# Breadcrumb link #}
      <li class="{{ classes|join(' ') }}" {{ item.attributes }}>
        {% if item.url %}
          <a class="{{ classes|join(' ') }}" href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>

      {# Breadcrumb separator #}
      {% if not loop.last %}
        <li class="text-muted">›</li>
      {% endif %}

    {% endfor %}
  </ul>
</div>
{% endif %}
