{#
/**
 * @file
 * Default theme implementation to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 *
 * @ingroup themeable
 */
#}
{% if items %}
  <h4 id="pagination-heading" class="visually-hidden hidden">{{ 'Pagination'|t }}</h4>
  <nav aria-label="Pagination">
  <ul class="pagination">

    {% if items.previous %}
    <li>
      <a class="btn btn-outline btn-circle" href="{{ items.previous.href }}" title="{{ 'Aller à la page précédente'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
        <span aria-hidden="true" class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin retraitespopulaires-icon-flip-horizontal" ></span>
        <span class="sr-only">{{ 'Page précédente'|t }}</span>
      </a>
    </li>
    {% endif %}

    {% for key, item in items.pages %}
      {% if current == key %}
        {% set title = 'Page courante'|t %}
      {% else %}
        {% set title = 'Aller à la page @key'|t({'@key': key}) %}
      {% endif %}

      <li{{ current == key ? ' class="active"' }}>
        <a class="btn btn-outline btn-circle" href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}>
          <span class="sr-only">{{ current == key ? 'Page courante'|t : 'Page'|t }}</span>
          {{- key -}}
        </a>
      </li>
    {% endfor %}

    {% if items.next %}
    <li>
      <a href="{{ items.next.href }}" class="btn btn-outline btn-circle" title="{{ 'Aller à la page suivante'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
        <span aria-hidden="true" class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin" ></span>
          <span class="sr-only">{{ 'Page suivante'|t }}</span>
      </a>
    </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
