<div class="card-attachement card-attachement-{{ variables.theme }} shadow shadow-down">
  <div class="card-title h2">{% trans %}Questions et réponses{% endtrans %}</div>
  <ul class="card-content list-spaced list-unstyled">
    {% for faq in variables.links %}
    <li>
      <a class="text-bold pretty-link h5" href="{{ path('entity.node.canonical', {'node':faq.nid.value}) }}">{{ faq.title.value }}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="card-footer">
    <div class="icon-text icon-text-center">
        <span aria-hidden="true" class="retraitespopulaires-icon retraitespopulaires-icon-2x text-primary retraitespopulaires-icon-faq-thick"></span>
        <div class="icon-text-txt">
          <a class="text-bold pretty-link pretty-link-berrylight-gray h5" href="{{ variables.collection.link }}">
            {% if variables.collection.name %}
              {% trans %}Accéder à toutes les questions relatives {{ variables.collection.name }}{% endtrans %}
            {% else %}
              {% trans %}Accéder à toutes les questions{% endtrans %}
            {% endif %}
          </a>
        </div>
    </div>
  </div>
</div>
