<div class="card-attachement card-attachement-{{ variables.theme }} shadow shadow-down">
  <div class="card-title h2">{% trans %}Documents utiles{% endtrans %}</div>
  <ul class="card-content list-spaced list-unstyled">
    {% for doc in variables.links %}
    <li>
      <div class="media">
        <div class="media-left">
          <a href="{{ file_url(doc.field_file_document.entity.uri.value) }}" target="_blank" class="retraitespopulaires-icon retraitespopulaires-icon-document-file retraitespopulaires-icon-2x"></a>
        </div>
        <div class="media-body">
          <a href="{{ file_url(doc.field_file_document.entity.uri.value) }}" target="_blank" class="pretty-link h5">{{ doc.title.value }} <span class="text-muted text-small">- {{ doc.field_file_document.entity.mimeType|extension_guesser|upper }}</span></a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  {% if variables.collection %}
  <div class="card-footer">
    <div class="icon-text icon-text-center">
        <span class="retraitespopulaires-icon retraitespopulaires-icon-2x text-primary retraitespopulaires-icon-documents-thick"></span>
        <div class="icon-text-txt">
          <a class="text-bold pretty-link pretty-link-berrylight-gray h5" href="{{ variables.collection.link }}">{% trans %}Tous les documents {{ variables.collection.name }}{% endtrans %}</a>
        </div>
    </div>
  </div>
  {% endif %}

</div>
