{% if variables.building.nid.value %}

<a href="{{ path('entity.node.canonical', {'node': variables.building.nid.value}) }}" class="card card-white">
  <div class="card-img-top">
    <img class="card-img" src="{{ file_url(variables.cover.image) }}" alt="{{ variables.building.title.value }}">
    <div class="loader-image"><div class="loader"><div class="loader-snake"></div></div>
  </div>
  </div>
  <div class="card-body">
    <p class="card-subhead">{{ variables.building.field_building_type.entity.name.value }}</p>
    <h3 class="card-title h1">{{ variables.building.title.value }}</h3>
  </div>
  <div class="card-footer card-justify">
    <span>{{ variables.building.field_building_status.settings.allowed_values[variables.building.field_building_status.value] }}</span>
  </div>
</a>
{% endif %}
