<h4>{% trans %}Filtrer par:{% endtrans %}</h4>

{% if variables.categories %}
<div class="{{ theme_hook_original }}">
  <p class="media-heading text-muted">{% trans %}Nos constructions{% endtrans %}</p>
  <ul class="filters-list list-inline">

    <li class="{{ variables.building_status_alias is empty ? 'active' }}">
      {% if variables.building_status_alias is empty %}
        <a href="{{ path('entity.node.canonical', {'node': variables.collection}) }}" class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-checked"></a>
      {% else %}
        <a href="{{ path('entity.node.canonical', {'node': variables.collection}) }}" class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-unchecked"></a>
      {% endif %}

      <a class="pretty-link" href="{{ path('entity.node.canonical', {'node': variables.collection}) }}">{% trans %}Toutes{% endtrans %}</a>
    </li>

    {% for category in variables.categories %}
      <li class="{{ category.alias == variables.building_status_alias ? 'active' }}">
       {% if category.alias == variables.building_status_alias %}
         <a href="{{ path('entity.node.canonical', {'node': variables.collection, 'building_status_alias': category.alias}) }}" class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-checked"></a>
       {% else %}
         <a href="{{ path('entity.node.canonical', {'node': variables.collection, 'building_status_alias': category.alias}) }}" class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-unchecked"></a>
       {% endif %}

       <a class="pretty-link" href="{{ path('entity.node.canonical', {'node': variables.collection, 'building_status_alias': category.alias}) }}">{{ category.term }}</a>
     </li>
    {% endfor %}

  </ul>
  </ul>
</div>
{% endif %}
