<h4 class="m-t-0">{% trans %}Filtrer par:{% endtrans %}</h4>

{# Filters institutions #}
{% if variables.institutions %}
<div class="{{ theme_hook_original }}">
  <ul class="filters-list">
    {% for category in variables.institutions %}
      <li class="{{ category.alias == variables.institution_alias ? 'active' }}">
        {# Build filtres for the current selected item - to remove himself on second click #}
        {% set institution_alias = '' %}
         {% if variables.institution_alias != category.alias %}
           {% set institution_alias = category.alias %}
         {% endif %}

        {% set classes = [
          'retraitespopulaires-icon',
          'retraitespopulaires-icon-2x',
          category.alias != variables.institution_alias ? 'retraitespopulaires-icon-unchecked',
          category.alias == variables.institution_alias ? 'retraitespopulaires-icon-checked',
        ] %}

        <a href="{{ path('<current>', {'institution_alias': institution_alias, 'category_alias': variables.category_alias, 'profession_alias': variables.profession_alias}) }}" class="{{ classes|join(' ') }}"></a>

       <a class="pretty-link" href="{{ path('<current>', {'institution_alias': institution_alias, 'category_alias': variables.category_alias, 'profession_alias': variables.profession_alias}) }}">{{ category.term.name }}</a>
     </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{# Filters professions #}
{% if variables.professions %}
<div class="{{ theme_hook_original }}">
  <p class="media-heading text-muted">{% trans %}Nos métiers{% endtrans %}</p>
  <ul class="filters-list">

    {# Link "All" #}
    <li class="{{ variables.profession_alias is empty ? 'active' }}">
      {% set classes = [
        'retraitespopulaires-icon',
        'retraitespopulaires-icon-2x',
        variables.profession_alias is empty ? 'retraitespopulaires-icon-checked' : 'retraitespopulaires-icon-unchecked',
      ] %}

      <a aria-hidden="true" href="{{ path('<current>', {'category_alias': variables.category_alias, 'institution_alias': variables.institution_alias}) }}" class="{{ classes|join(' ') }}"></a>
      <a class="pretty-link" href="{{ path('<current>', {'category_alias': variables.category_alias, 'institution_alias': variables.institution_alias}) }}">{% trans %}Tous{% endtrans %}</a>
    </li>

    {% for category in variables.professions %}
      <li class="{{ category.alias == variables.profession_alias ? 'active' }}">

        {# Build filtres for the current selected item - to remove himself on second click #}
        {% set profession_alias = '' %}
         {% if variables.profession_alias != category.alias %}
           {% set profession_alias = category.alias %}
         {% endif %}

        {% set classes = [
          'retraitespopulaires-icon',
          'retraitespopulaires-icon-2x',
          category.alias != variables.profession_alias ? 'retraitespopulaires-icon-unchecked',
          category.alias == variables.profession_alias ? 'retraitespopulaires-icon-checked',
        ] %}

        <a href="{{ path('<current>', {'profession_alias': profession_alias, 'category_alias': variables.category_alias, 'institution_alias': variables.institution_alias}) }}" class="{{ classes|join(' ') }}"></a>

       <a class="pretty-link" href="{{ path('<current>', {'profession_alias': profession_alias, 'category_alias': variables.category_alias, 'institution_alias': variables.institution_alias}) }}">{{ category.term.name }}</a>
     </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{# Filters categories #}
{% if variables.categories %}
<div class="{{ theme_hook_original }}">
  <p class="media-heading text-muted">{% trans %}Nos catégories{% endtrans %}</p>
  <ul class="filters-list">

    {# Link "All" #}
    <li class="{{ variables.category_alias is empty ? 'active' }}">
      {% set classes = [
        'retraitespopulaires-icon',
        'retraitespopulaires-icon-2x',
        variables.category_alias is empty ? 'retraitespopulaires-icon-checked' : 'retraitespopulaires-icon-unchecked',
      ] %}

      <a aria-hidden="true" href="{{ path('<current>', {'profession_alias': variables.profession_alias, 'institution_alias': variables.institution_alias}) }}" class="{{ classes|join(' ') }}"></a>
      <a class="pretty-link" href="{{ path('<current>', {'profession_alias': variables.profession_alias, 'institution_alias': variables.institution_alias}) }}">{% trans %}Toutes{% endtrans %}</a>
    </li>

    {% for category in variables.categories %}
      <li class="{{ category.alias == variables.category_alias ? 'active' }}">
        {# Build filtres for the current selected item - to remove himself on second click #}
        {% set category_alias = '' %}
         {% if variables.category_alias != category.alias %}
           {% set category_alias = category.alias %}
         {% endif %}

        {% set classes = [
          'retraitespopulaires-icon',
          'retraitespopulaires-icon-2x',
          category.alias != variables.category_alias ? 'retraitespopulaires-icon-unchecked',
          category.alias == variables.category_alias ? 'retraitespopulaires-icon-checked',
        ] %}

        <a href="{{ path('<current>', {'category_alias': category_alias, 'profession_alias': variables.profession_alias, 'institution_alias': variables.institution_alias}) }}" class="{{ classes|join(' ') }}"></a>

       <a class="pretty-link" href="{{ path('<current>', {'category_alias': category_alias, 'profession_alias': variables.profession_alias, 'institution_alias': variables.institution_alias}) }}">{{ category.term.name }}</a>
     </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
