{% set theme = variables.theme %}

<h4>{% trans %}Filtrer par:{% endtrans %}</h4>
<div class="spacer spacer-sm"></div>
{% if variables.professions %}
<div class="{{ theme_hook_original }}">
  <p class="media-heading text-muted">{% trans %}Nos métiers{% endtrans %}</p>
  <ul class="filters-list">

    {# Link "All" #}
    <li class="{{ variables.profession_alias is empty ? 'active' }}">
      {% set classes = [
        'retraitespopulaires-icon',
        'retraitespopulaires-icon-2x',
        'text-' ~ variables.theme,
        variables.profession_alias is empty ? 'retraitespopulaires-icon-checked' : 'retraitespopulaires-icon-unchecked',
      ] %}

      <a aria-hidden="true" href="{{ path('<current>') }}" class="{{ classes|join(' ') }}"></a>
      <a class="pretty-link text-{{ variables.theme }}" href="{{ path('<current>', {'category_alias': category_alias}) }}">{% trans %}Tous{% endtrans %}</a>
    </li>

    {% for category in variables.professions %}
      <li class="{{ category.alias == variables.profession_alias ? 'active' }}">

        {# Build filtres for the current selected item - to remove himself on second click #}
        {% set profession_alias = '' %}
         {% if variables.profession_alias != category.alias %}
           {% set profession_alias = category.alias %}
         {% endif %}

        {% set classes = [
          'text-' ~ theme|default('primary'),
          'retraitespopulaires-icon',
          'retraitespopulaires-icon-2x',
          category.alias != variables.profession_alias ? 'retraitespopulaires-icon-unchecked',
          category.alias == variables.profession_alias ? 'retraitespopulaires-icon-checked',
        ] %}

        <a href="{{ path('<current>', {'profession_alias': profession_alias, 'category_alias': variables.category_alias}) }}" class="{{ classes|join(' ') }}"></a>

       <a class="pretty-link text-{{ theme|default('primary') }}" href="{{ path('<current>', {'profession_alias': profession_alias, 'category_alias': variables.category_alias}) }}">{{ category.term.name }}</a>
     </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if variables.categories %}
<div class="{{ theme_hook_original }}">
  <p class="media-heading text-muted">{% trans %}Nos catégories{% endtrans %}</p>
  <ul class="filters-list">

    {# Link "All" #}
    <li class="{{ variables.category_alias is empty ? 'active' }}">
      {% set classes = [
        'retraitespopulaires-icon',
        'retraitespopulaires-icon-2x',
        'text-' ~ variables.theme,
        variables.category_alias is empty ? 'retraitespopulaires-icon-checked' : 'retraitespopulaires-icon-unchecked',
      ] %}

      <a aria-hidden="true" href="{{ path('<current>') }}" class="{{ classes|join(' ') }}"></a>
      <a class="pretty-link text-{{ variables.theme }}" href="{{ path('<current>', {'profession_alias': variables.profession_alias}) }}">{% trans %}Toutes{% endtrans %}</a>
    </li>

    {% for category in variables.categories %}
      <li class="{{ category.alias == variables.category_alias ? 'active' }}">
        {# Build filtres for the current selected item - to remove himself on second click #}
        {% set category_alias = '' %}
         {% if variables.category_alias != category.alias %}
           {% set category_alias = category.alias %}
         {% endif %}

        {% set classes = [
          'text-' ~ theme|default('primary'),
          'retraitespopulaires-icon',
          'retraitespopulaires-icon-2x',
          category.alias != variables.category_alias ? 'retraitespopulaires-icon-unchecked',
          category.alias == variables.category_alias ? 'retraitespopulaires-icon-checked',
        ] %}

        <a href="{{ path('<current>', {'category_alias': category_alias, 'profession_alias': variables.profession_alias}) }}" class="{{ classes|join(' ') }}"></a>

       <a class="pretty-link text-{{ theme|default('primary') }}" href="{{ path('<current>', {'category_alias': category_alias, 'profession_alias': variables.profession_alias}) }}">{{ category.term.name }}</a>
     </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
