{% if variables.document.nid.value %}

<div class="media">
  <div class="media-left">
    <a href="{{ file_url(variables.document.field_file_document.entity.uri.value) }}" target="_blank" class="retraitespopulaires-icon retraitespopulaires-icon-document-file retraitespopulaires-icon-2x text-{{ variables.theme }}"></a>
  </div>
  <div class="media-body">
    <a href="{{ file_url(variables.document.field_file_document.entity.uri.value) }}" target="_blank" class="pretty-link h5 text-{{ variables.theme }}">{{ variables.document.title.value }} <span class="text-muted text-small">- {{ variables.document.field_file_document.entity.mimeType|extension_guesser|upper }}</span></a>
  </div>
</div>

{% endif %}
