{% set suggestions = tw_suggestion_entities('collection_faqs') %}

{% if variables.selected is empty and suggestions %}
  <div class="{{ theme_hook_original }}">
    <p class="media-heading text-muted">
      {% trans %}Questions et réponses{% endtrans %}
    </p>
    <ul class="filters-list filters-list-{{ variables.theme }}">
      <li class="{{ variables.current_aliases is empty ? 'active' }}">
        {% if variables.current_aliases is empty %}
          <a href="{{ path('entity.node.canonical', {'node': suggestions|first.id}) }}" class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-checked text-{{ variables.theme }}"></a>
        {% else %}
          <a href="{{ path('entity.node.canonical', {'node': suggestions|first.id}) }}" class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-unchecked text-{{ variables.theme }}"></a>
        {% endif %}

        <a class="pretty-link text-{{ variables.theme }}" href="{{ path('entity.node.canonical', {'node': suggestions|first.id}) }}">{% trans %}Toutes{% endtrans %}</a>
      </li>
      {% for category in variables.categories %}
        <li class="{{ category.alias in variables.current_aliases ? 'active' }}">
         {% if category.alias in variables.current_aliases %}
           <a href="{{ path('entity.node.canonical', {'node': suggestions|first.id, 'taxonomy_term_alias': category.alias}) }}" class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-checked text-{{ variables.theme }}"></a>
         {% else %}
           <a href="{{ path('entity.node.canonical', {'node': suggestions|first.id, 'taxonomy_term_alias': category.alias}) }}" class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-unchecked text-{{ variables.theme }}"></a>
         {% endif %}

         <a class="pretty-link text-{{ variables.theme }}" href="{{ path('entity.node.canonical', {'node': suggestions|first.id, 'taxonomy_term_alias': category.alias}) }}">{{ category.term.name }}</a>
       </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
<div class="{{ theme_hook_original }}">
  <p class="media-heading text-muted">
    <div class="icon-text">
      <a href="{{ path('entity.node.canonical', {'node': suggestions|first.id}) }}" class="retraitespopulaires-icon retraitespopulaires-icon retraitespopulaires-icon-arrow-left no-underline text-{{ variables.theme }}"></a>
      <div class="icon-text-txt"><a href="{{ path('entity.node.canonical', {'node': suggestions|first.id}) }}" class="pretty-link text-{{ variables.theme }}">{% trans %}Retour aux questions et réponses{% endtrans %}</a></div>
    </div>
    <div class="spacer spacer-sm"></div>
    <h2>{{ variables.selected.name.value }}</h2>
    <p>{{ variables.selected.description.value|raw }}</p>
  </p>
</div>
{% endif %}
