{% if variables.management_contract.nid.value %}
<a href="{{ path('entity.node.canonical', {'node': variables.management_contract.nid.value}) }}" class="card">
  <div class="card-img-top card-img-top-center card-berrylight-gray">
    <img class="card-img" src="{{ file_url(variables.management_contract.field_logo.entity.uri.value) }}" alt="{% trans %}Logo - {{ variables.management_contract.title.value }}{% endtrans %}">
  </div>
  <div class="card-body">
    <h3 class="card-title">{{ variables.management_contract.title.value }}</h3>
  </div>
  <div class="card-footer card-justify">
  {% if variables.management_contract.field_administrator.value %}
    <span>{{ variables.management_contract.field_administrator.value }}</span>
  {% endif %}
  </div>
</a>
{% endif %}
