{% if variables.news.nid.value %}
<a href="{{ path('entity.node.canonical', {'node': variables.news.nid.value}) }}" class="card">
  {% if not variables.news.field_cover.entity.uri.value is empty %}
  <div class="card-img-top">
    <img class="card-img" src="{{ file_url(variables.cover.image) }}" alt="{{ variables.news.title.value }}">
    <div class="loader-image"><div class="loader"><div class="loader-snake"></div></div></div>
  </div>
  {% endif %}

  <div class="card-body">
    <h3 class="card-title h1">{{ variables.news.title.value }}</h3>
    <time datetime="{{ variables.news.field_date.date|date_format('c') }}">
      <span class="sr-only">{% trans %}Date de publication: {% endtrans %}</span>
      {{ variables.news.field_date.date|date_format('d F Y')|capitalize }}
    </time> -
    <span>
      <span class="sr-only">{% trans %}Catégorie de l'actualité: {% endtrans %}</span>
      {{ variables.news.field_news_type.entity.name.value }}
    </span>
    <div class="spacer spacer-sm"></div>
    <p>{{ variables.news.body.summary }}</p>
  </div>
</a>
{% endif %}
