<div class="teaser-basicpage shadow shadow-down">
  <div class="basicpage-heading">
    <div class="text-primary ">
      {% set target = variables.options.external ? '_blank' %}
      <a href="{{ variables.url }}" class="text-secondary h4" target="{{ target }}">{{ variables.title }}</a>
    </div>
  </div>
  <div class="basicpage-body">
      {% if variables.body %} <p>{{ variables.body }}</p> {% endif %}
      {% if variables.links %}
      <ul class="facets-list">
        {% for subitem in variables.links %}
          {% set target = subitem.link.options.external ? '_blank' %}
          <li><a href="{{ subitem.link.urlObject }}" class="pretty-link" target="{{ target }}">{{ subitem.link.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
  </div>
</div>
