{% set target = variables.options.external ? '_blank' %}
<div class="card card-white">
  <div class="card-body">
    <h3 class="card-title"><a href="{{ variables.url }}" target="{{ target }}">{{ variables.title }}</a></h3>
    {% if variables.body %} <p>{{ variables.body }}</p> {% endif %}
    {% if variables.links %}
    <ul class="facets-list">
      {% for subitem in variables.links %}
        {% set target = subitem.link.options.external ? '_blank' %}
        <li><a href="{{ subitem.link.urlObject }}" class="pretty-link" target="{{ target }}">{{ subitem.link.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
