{% for category in variables.categories %}
<p class="media-heading text-muted">{{ category.term.name.value }}</p>
<ul class="filters-list">
  {% for child in category.children %}
    <li class="{{ child.alias == variables.current_alias ? 'active' }}">
      {% if child.alias == variables.current_alias %}
        <i class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-checkbox-checked"></i>
      {% else %}
        <i class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-checkbox"></i>
      {% endif %}
      <a href="{{ path('<current>', {'filtre': child.alias }) }}"  class="pretty-link text-{{ variables.theme }}">{{ child.term.name.value }}</a></li>
  {% endfor %}
</ul>
<div class="spacer spacer-sm"></div>
{% endfor %}
