<nav id="full-accessible-navigation" class="sr-only" role="navigation">
  <ul>
    <li>
      <h2>Navigation principale</h2>
      <ul>
        {% for item in variables.main_menu %}
          {% set classes = [
          item.inActiveTrail ? 'active',
          ] %}
          <li class="{{ classes|join(' ') }}">
            {% set target = item.link.options.external ? '_blank' %}
            <a href="{{ item.link.urlObject }}" class="pretty-link" target="{{ target }}">{{ item.link.title }}</a>
            {% if item.hasChildren %}
              <ul>
                {% for subitem in item.subtree %}
                  {% set classes = [
                  subitem.inActiveTrail ? 'active',
                  ] %}
                  <li class="{{ classes|join(' ') }}">
                    {% set target = subitem.link.options.external ? '_blank' %}
                    <a href="{{ subitem.link.urlObject }}" target="{{ target }}">{{ subitem.link.title }}</a>
                    {% if subitem.hasChildren %}
                      <ul>
                        {% for lastitem in subitem.subtree %}
                          {% set classes = [
                          lastitem.inActiveTrail ? 'active',
                          ] %}
                          <li class="{{ classes|join(' ') }}">
                            {% set target = lastitem.link.options.external ? '_blank' %}
                            <a href="{{ lastitem.link.urlObject }}" target="{{ target }}">{{ lastitem.link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <h2>Vous êtes</h2>
      <ul>
        {% for item in variables.profil_menu %}
          {% set has_separator = item.link.pluginId == variables.profils_individual_menu %}
          {% set classes = [
          item.inActiveTrail ? 'active',
          ] %}

          <li class="{{ classes|join(' ') }}">
            {% set profil_icon = 'placeholder' %}
            {% set target = item.link.options.external ? '_blank' %}
            <a href="{{ item.link.urlObject }}" target="{{ target }}">{{ item.link.title }}</a>
            {% if item.hasChildren %}
              <ul>
                {% for subitem in item.subtree %}
                  {% set classes = [
                  subitem.inActiveTrail ? 'active',
                  ] %}
                  {% if has_separator and subitem.link.pluginId == variables.profils_individual_project %}
                    <li><p>{% trans %}Nouveau projet{% endtrans %}</p></li>
                  {% elseif has_separator and subitem.link.pluginId == variables.profils_individual_client %}
                    <div class="spacer spacer-sm"></div>
                    <li><p>{% trans %}Déjà client{% endtrans %}</p></li>
                  {% endif %}
                  <li class="{{ classes|join(' ') }}">
                    {% set target = subitem.link.options.external ? '_blank' %}
                    <a href="{{ subitem.link.urlObject }}" {{ target|e }}>{{ subitem.link.title }}</a>
                    {% if subitem.hasChildren %}
                      <ul>
                        {% for lastitem in subitem.subtree %}
                          {% set classes = [
                          lastitem.inActiveTrail ? 'active',
                          ] %}
                          <li class="{{ classes|join(' ') }}">
                            {% set target = lastitem.link.options.external ? '_blank' %}
                            <a href="{{ lastitem.link.urlObject }}" target="{{ target }}">{{ lastitem.link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
    <li>
      <h2>Navigation secondaire</h2>
      <ul>
        {% for item in variables.secondary_menu %}
          {% set classes = [
          item.link.inActiveTrail ? 'active'
          ] %}
          {% set target = item.link.options.external ? '_blank' %}
          <li class="{{ classes|join(' ') }}">
            <a href="{{ item.link.urlObject }}" target="{{ target }}">
              {{ item.link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>
<div class="big-menu">
  <div class="container-big-menu container-fuild">
    <div class="row">
      <div class="col-no-padding col-xs-12 visible-xs">
        {{ load_form('rp_site', 'SearchForm') }}
        <div class="spacer"></div>
      </div>
    </div>

    <div aria-hidden="true" class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="swiper-menu">
            <div class="hidden-xs hidden-sm">
              {% if variables.empty_state %}
                <div class="swiper-empty-state">
                  <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                      <p class="text-center text-muted">{% trans %}Faites votre choix dans la colonne de
                        gauche{% endtrans %}</p>
                      <div class="spacer"></div>
                    </div>
                  </div>
                  <div class="organic-lines"></div>
                </div>
              {% endif %}
            </div>

            <!-- Swiper Column 1  -->
            <div class="swiper-column-wrapper col-xs-12 col-md-4">
              <div class="swiper-column swiper-column-1">

                <!-- Main menu  -->
                <ul data-list="swiper-main"
                    class="swiper-list swiper-list-first list-no-padding swiper-list-primary list-no-style"
                    role="navigation">
                  {% for item in variables.main_menu %}
                    <!-- Get Theme from position into the menu -->
                    {% set theme = [
                    loop.index0 == 0 ? 'assurance',
                    loop.index0 == 1 ? 'prevoyance',
                    loop.index0 == 2 ? 'immobilier',
                    loop.index0 == 3 ? 'hypotheque',
                    loop.index0 >= 4 ? 'primary',
                    ] %}

                    {% set classes = [
                    item.inActiveTrail ? 'active',
                    item.link.pluginId,
                    'theme-' ~ theme|join,
                    ] %}

                    <li class="{{ classes|join(' ') }}">
                      {% set target = item.link.options.external ? '_blank' %}
                      <a href="{{ item.link.urlObject }}" class="pretty-link"
                         target="{{ target }}">{{ item.link.title }}</a>
                      {% if item.hasChildren %}
                        <a href="swiper-{{ item.link.pluginId }}"
                           class="arrow-next btn btn-circle btn-outline btn-primary"
                           title="{{ 'Ouvrir le sous-menu @menu'|t({'@menu': item.link.title}) }}"><span
                            class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin"
                            aria-hidden="true"></span></a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>

                <div class="spacer"></div>
                <p class="media-heading text-small swiper-padding text-muted">Vous êtes</p>

                <!-- Profil menu  -->
                <ul class="swiper-list swiper-list-first swiper-list-secondary list-no-style list-no-padding"
                    role="navigation">
                  {% for item in variables.profil_menu %}
                    {% set classes = [
                    'icon-text',
                    'icon-text-center',
                    item.inActiveTrail ? 'active',
                    item.link.pluginId,
                    'theme-' ~ theme|join,
                    ] %}

                    <li class="{{ classes|join(' ') }}">
                      {% set profil_icon = 'placeholder' %}
                      {% if loop.index0 == 0 %}
                        {% set profil_icon = 'particuliers' %}
                      {% elseif loop.index0 == 1 %}
                        {% set profil_icon = 'entreprises' %}
                      {% elseif loop.index0 == 2 %}
                        {% set profil_icon = 'collectivites' %}
                      {% endif %}

                      {% set target = item.link.options.external ? '_blank' %}
                      <a href="{{ item.link.urlObject }}"
                         class="retraitespopulaires-icon retraitespopulaires-icon-{{ profil_icon }} retraitespopulaires-icon-3x"
                         target="{{ target }}"></a>
                      <a href="{{ item.link.urlObject }}" class="icon-text-txt text-secondary h5"
                         target="{{ target }}">{{ item.link.title }}</a>
                      {% if item.hasChildren %}
                        <a href="swiper-{{ item.link.pluginId }}"
                           class="arrow-next btn btn-circle btn-outline btn-primary"
                           title="{{ 'Ouvrir le sous-menu @menu'|t({'@menu': item.link.title}) }}"><span
                            class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin"
                            aria-hidden="true"></span></a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
                <div class="spacer"></div>
              </div>
            </div>

            <!-- Swiper Column 2  -->
            <div class="swiper-column-wrapper swiper-column-wrapper-2 col-xs-12 col-md-4">
              <div class="swiper-column swiper-column-2">

                <!-- Main menu  -->
                {% for item in variables.main_menu %}
                  <!-- Get Theme from position into the menu -->
                  {% set theme = [
                  loop.index0 == 0 ? 'assurance',
                  loop.index0 == 1 ? 'prevoyance',
                  loop.index0 == 2 ? 'immobilier',
                  loop.index0 == 3 ? 'hypotheque',
                  loop.index0 >= 4 ? 'primary',
                  ] %}

                  {% if item.hasChildren %}
                    {% set classes = [
                    item.inActiveTrail ? 'active',
                    item.link.pluginId,
                    'theme-' ~ theme|join
                    ] %}

                    <ul data-list="swiper-{{ item.link.pluginId }}"
                        class="swiper-list swiper-list-alternative swiper-list-middle list-no-padding list-spaced list-no-style {{ classes|join(' ') }}"
                        role="navigation">

                      <!-- First item is a back link to previous links  -->
                      <li class="swiper-back visible-xs visible-sm theme-{{ theme|join }} bg-berrylight-gray">
                        <a href="swiper-main" class="btn btn-circle btn-outline btn-primary arrow-back"
                           title="{{ 'Retour en arrière'|t }}">
                          <span class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin"
                                aria-hidden="true"></span>
                        </a>
                        <a href="{{ item.link.urlObject }}" class="text-muted pretty-link">{{ item.link.title }}</a>
                      </li>

                      {% for subitem in item.subtree %}
                        {% set classes = [
                        subitem.inActiveTrail ? 'active',
                        subitem.link.pluginId,
                        ] %}

                        <li class="{{ classes|join(' ') }}">
                          {% set target = subitem.link.options.external ? '_blank' %}
                          <a href="{{ subitem.link.urlObject }}" class="pretty-link"
                             target="{{ target }}">{{ subitem.link.title }}</a>
                          {% if subitem.hasChildren %}
                            <a href="swiper-{{ subitem.link.pluginId }}"
                               class="arrow-next btn btn-circle btn-outline btn-primary"
                               title="{{ 'Ouvrir le sous-menu @menu'|t({'@menu': subitem.link.title}) }}"><span
                                class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin"
                                aria-hidden="true"></span></a>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endfor %}

                <!-- Profil menu  -->
                {% for item in variables.profil_menu %}
                  {% set has_separator = item.link.pluginId == variables.profils_individual_menu %}
                  {% if item.hasChildren %}
                    {% set classes = [
                    item.inActiveTrail ? 'active',
                    item.link.pluginId,
                    'theme-' ~ theme|join,
                    ] %}
                    <ul data-list="swiper-{{ item.link.pluginId }}"
                        class="swiper-list swiper-list-alternative swiper-list-middle list-no-padding list-spaced list-no-style {{ classes|join(' ') }}"
                        role="navigation">

                      <!-- First item is a back link to previous links  -->
                      <li class="swiper-back visible-xs visible-sm theme-{{ theme|join }} bg-berrylight-gray">
                        <a href="swiper-main" class="btn btn-circle btn-outline btn-primary arrow-back"
                           title="{{ 'Retour en arrière'|t }}">
                          <span class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin"
                                aria-hidden="true"></span>
                        </a>
                        <a href="{{ item.link.urlObject }}" class="text-muted pretty-link">{{ item.link.title }}</a>
                      </li>

                      {% for subitem in item.subtree %}
                        {% set classes = [
                        subitem.inActiveTrail ? 'active',
                        subitem.link.pluginId,
                        ] %}
                        {% if has_separator and subitem.link.pluginId == variables.profils_individual_project %}
                          <li class="p-b-0"><p class="m-0 text-small text-muted">{% trans %}Nouveau projet{% endtrans %}
                          </li></p>
                        {% elseif has_separator and subitem.link.pluginId == variables.profils_individual_client %}
                          <div class="spacer spacer-sm"></div>
                          <li class="p-t-0 p-b-0"><p class="m-0 text-small text-muted">{% trans %}Déjà
                              client{% endtrans %}</li></p>
                        {% endif %}
                        <li class="{{ classes|join(' ') }}">
                          {% set target = subitem.link.options.external ? '_blank' %}
                          <a href="{{ subitem.link.urlObject }}"
                             class="pretty-link text-primary" {{ target|e }}>{{ subitem.link.title }}</a>
                          {% if subitem.hasChildren %}
                            <a href="swiper-{{ subitem.link.pluginId }}"
                               class="arrow-next btn btn-circle btn-outline btn-primary"
                               title="{{ 'Ouvrir le sous-menu @menu'|t({'@menu': subitem.link.title}) }}"><span
                                class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin"
                                aria-hidden="true"></span></a>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endfor %}

              </div>
            </div>

            <!-- Swiper Column 3  -->
            <div class="swiper-column-wrapper swiper-column-wrapper-3 col-xs-12 col-md-4">
              <div class="swiper-column swiper-column-3 swiper-column-waiting">

                <!-- Main menu last children  -->
                {% for item in variables.main_menu %}
                  <!-- Get Theme from position into the menu -->
                  {% set theme = [
                  loop.index0 == 0 ? 'assurance',
                  loop.index0 == 1 ? 'prevoyance',
                  loop.index0 == 2 ? 'immobilier',
                  loop.index0 == 3 ? 'hypotheque',
                  loop.index0 >= 4 ? 'primary',
                  ] %}

                  {% if item.hasChildren %}
                    {% for subitem in item.subtree %}
                      {% set classes = [
                      subitem.inActiveTrail ? 'active',
                      subitem.link.pluginId,
                      'theme-' ~ theme|join,
                      ] %}
                      {% if subitem.hasChildren %}
                        <ul data-list="swiper-{{ subitem.link.pluginId }}"
                            class="swiper-list swiper-list-alternative swiper-list-last list-no-padding list-spaced list-no-style {{ classes|join(' ') }}"
                            role="navigation">

                          <!-- First item is a back link to previous links  -->
                          <li class="swiper-back visible-xs visible-sm theme-{{ theme|join }} bg-berrylight-gray">
                            <a href="swiper-main" class="btn btn-circle btn-outline btn-primary arrow-back"
                               title="{{ 'Retour en arrière'|t }}">
                              <span class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin"
                                    aria-hidden="true"></span>
                            </a>
                            <a href="{{ subitem.link.urlObject }}"
                               class="text-muted pretty-link">{{ subitem.link.title }}</a>
                          </li>

                          {% for lastitem in subitem.subtree %}
                            {% set classes = [
                            lastitem.inActiveTrail ? 'active',
                            lastitem.link.pluginId,
                            ] %}

                            <li class="{{ classes|join(' ') }}">
                              {% set target = lastitem.link.options.external ? '_blank' %}
                              <a href="{{ lastitem.link.urlObject }}" class="pretty-link"
                                 target="{{ target }}">{{ lastitem.link.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}

                <!-- Profil menu last children  -->
                {% for item in variables.profil_menu %}
                  {% if item.hasChildren %}
                    {% for subitem in item.subtree %}
                      {% set classes = [
                      subitem.inActiveTrail ? 'active',
                      subitem.link.pluginId,
                      ] %}
                      {% if subitem.hasChildren %}
                        <ul data-list="swiper-{{ subitem.link.pluginId }}"
                            class="swiper-list swiper-list-alternative swiper-list-last list-no-padding list-spaced list-no-style {{ classes|join(' ') }}"
                            role="navigation">

                          <!-- First subitem is a back link to previous links  -->
                          <li class="swiper-back visible-xs visible-sm">
                            <a href="swiper-main" class="btn btn-circle btn-outline btn-primary arrow-back"
                               title="{{ 'Retour en arrière'|t }}">
                              <span class="retraitespopulaires-icon retraitespopulaires-icon-arrow-thin"
                                    aria-hidden="true"></span>
                            </a>
                            <a href="{{ subitem.link.urlObject }}"
                               class="text-muted pretty-link text-secondary">{{ subitem.link.title }}</a>
                          </li>

                          {% for lastitem in subitem.subtree %}
                            {% set classes = [
                            lastitem.inActiveTrail ? 'active',
                            lastitem.link.pluginId,
                            ] %}

                            <li class="{{ classes|join(' ') }}">
                              {% set target = lastitem.link.options.external ? '_blank' %}
                              <a href="{{ lastitem.link.urlObject }}" class="pretty-link"
                                 target="{{ target }}">{{ lastitem.link.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- End of Swiper Menu -->

        </div>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1">
        <div class="big-menu-secondary-nav-wrapper">
          <div class="big-menu-secondary-nav bg-berrylight-gray visible-xs visible-sm">
            <div class="row">
              <div class="spacer spacer-sm"></div>
              {% set linksPerColumn = (variables.secondary_menu|length / 2)|round(0, 'ceil') %}
              {% for item in variables.secondary_menu %}
                {% set classes = [
                item.link.pluginId,
                item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' ? 'icon-text',
                item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' ? 'icon-text-locker',
                ] %}
                {% if linksPerColumn == 1 or loop.index % linksPerColumn == 1 %}
                  <div class="col-xs-6">
                  <ul class="list-no-style list-no-padding {{ loop.first ? 'text-right' }}">
                {% endif %}
                <li class="{{ classes|join(' ') }}">
                  {% set target = item.link.options.external ? '_blank' %}
                  <a class="pretty-link pretty-link-berrylight-gray" href="{{ item.link.urlObject }}"
                     target="{{ target }}">
                    {{ item.link.title }}
                    {% if item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' %}
                      <i class="text-primary retraitespopulaires-icon retraitespopulaires-icon-lock"></i>
                    {% endif %}
                  </a>
                </li>
                {% if loop.last or loop.index % linksPerColumn == 0 %}
                  </ul>
                  </div>
                {% endif %}
              {% endfor %}
              <div class="spacer"></div>
            </div>
          </div>
          <ul class="list-spaced list-no-style list-no-padding hidden-xs hidden-sm" role="navigation">
            {% for item in variables.secondary_menu %}
              {% set classes = [
              item.link.pluginId,
              item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' ? 'icon-text',
              item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' ? 'icon-text-locker',
              ] %}
              {% set target = item.link.options.external ? '_blank' %}
              <li class="{{ classes|join(' ') }}">
                <a class="pretty-link" href="{{ item.link.urlObject }}" target="{{ target }}">
                  {{ item.link.title }}
                  {% if item.link.pluginId == 'menu_link_content:d6b624d3-a72e-48d7-935a-49d92b41ba1f' %}
                    <i
                      class="text-primary retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-lock"></i>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
