<div class="wrapper-funky-waves wrapper-funky-waves-{{ variables.theme }}  has-header">
  {% if variables.cover %}
    <picture>
      <source srcset="{{ variables.cover.xs }}" media="(max-width: 544px)">
      <source srcset="{{ variables.cover.md }}" media="(max-width: 992px)">
      <source srcset="{{ variables.cover.lg }}" media="(max-width: 1600px)">
      <img class="img-responsive center-block" src="{{ file_url(variables.cover.xlg) }}" alt="{{ variables.title }}">
    </picture>
  {% endif %}
  <div class="funky-waves-container">
    <svg class="wave-1" version="1.1" viewBox="0 0 1920 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#FFFFFF" d="M1920,136V73 c-189,83-636,77-980-6 C504-40,274-1,0,65.0277l0,70.7052L1920,136z"></path>
        <rect fill="#FFFFFF" y="120" width="100%" height="80px"></rect>
    </svg>

    <svg class="wave-2" version="1.1" viewBox="0 0 3840 200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path opacity="0.33" fill="#FFFFFF" d="M3840,40c-293.9224,0-570.793,137.0068-980,136
      	C2386.0259,174.8338,2181.8572,0,1748,0s-629.4976,197.7931-960,198C456.7055,198.2074,195.5444,40,0,40v210h3840V40z"></path>
      <rect opacity="0.33" fill="#FFFFFF" y="120" width="100%" height="80px"></rect>
    </svg>

    <svg class="wave-3" version="1.1" viewBox="0 0 3840 250" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path opacity="0.33" fill="#FFFFFF" d="M1145.8379,119.6087C797.4487,28.4848,394.3496-74.2724,0,77.1575V247.297
      	h3840V77.1575C3457.9121,177.4976,2091.0186,366.8282,1145.8379,119.6087z"></path>
      <rect opacity="0.33" fill="#FFFFFF" y="170" width="100%" height="80px"></rect>
    </svg>
  </div>
</div>
