{% if variables.secondary_nav.subtree %}

<div class="spacer spacer-xl visible-xs visible-sm"></div>

<!-- Get Theme from position into the menu -->
{% set theme = ['primary'] %}
{% set theme = [
  variables.index == 'menu_link_content:386d0bf4-1ec6-4f07-bfb2-58aac135ac15' ? 'assurance',
  variables.index == 'menu_link_content:a0be6622-b6ba-4cab-aa7a-6b979f7901bf' ? 'prevoyance',
  variables.index == 'menu_link_content:dbddcf09-9898-46dd-ba6b-593e8e3f01ab' ? 'immobilier',
  variables.index == 'menu_link_content:4fa3b81d-caee-49a8-87a2-4f8d66aa12aa' ? 'hypotheque',
] %}

<div class="secondary-nav secondary-nav-{{ theme|join }} hidden-print">
  <div class="back">
    <a href="{{ variables.secondary_nav.link.urlObject }}" class="retraitespopulaires-icon retraitespopulaires-icon-2x retraitespopulaires-icon-arrow-left"></a>
  </div>
  <div class="secondary-nav-content">
    <div class="title h5 text-cocon">{{ variables.secondary_nav.link.title }}</div>
    <ul class="links list-no-style list-no-padding">
      {% set trail_depth = variables.active_trail|length -1 %}

      {% for item in variables.secondary_nav.subtree %}
      {% set classes = [
        item.inActiveTrail and item.depth == trail_depth  ? 'active',
        item.inActiveTrail and item.depth == trail_depth  ? 'text-bold',
      ] %}
      <li class="{{ classes|join(' ') }}">
        {% set target = item.link.options.external ? '_blank' %}
        <a class="pretty-link" href="{{ item.link.urlObject }}" target="{{ target }}">
          {{ item.link.title }}
        </a>
      </li>

      {% if item.inActiveTrail and item.hasChildren %}
      <li class="no-padding">
        <ul class="links-children list-no-style list-no-padding">
          {% for subitem in item.subtree %}
            {% set classes = [
            'list-twice-padding-left',
            subitem.inActiveTrail and subitem.depth == trail_depth  ? 'active',
            subitem.inActiveTrail and subitem.depth == trail_depth  ? 'text-bold',
          ] %}

          <li class="{{ classes|join(' ') }}">
            {% set target = subitem.link.options.external ? '_blank' %}
            <a class="pretty-link" href="{{ subitem.link.urlObject }}" target="{{ target }}">
              {{ subitem.link.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
