{% extends "@retraitespopulaires/node/node.html.twig" %}

{% block node_bottom %}
  {% if node.field_web_site.uri %}
    <a class="btn btn-primary btn-lg" href="{{ node.field_web_site.0.url }}">{% trans %}Lien vers le magazine{% endtrans %}</a>
    <div class="spacer spacer-md"></div>
  {% endif %}
{% endblock %}

{% block node_bottom_outer %}
  {# Get diff days before the offer is finished #}
  {% set end_date = node.field_date_end.date|date_modify('tomorrow - 1 second') %}
  {% set left = (end_date.timestamp - date('now').timestamp) / 60 / 60 / 24 %}

  {% if left >= 0 %}
    <div class="background-overflow bg-berrylight-gray">
      <div class="row">
        <div class="{{ node_content_width|join(' ')|default('col-xs-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2') }}">
          <div class="spacer spacer-md"></div>
          <div class="card card-white">
            <div class="card-body">
              {{ bamboo_render_form('rp_offers', 'RequestForm', {'node': node}) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
      <div class="row">
        <div class="{{ node_content_width|join(' ')|default('col-xs-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2') }}">
          {% if bamboo_state_get('rp_offers.settings.collection.offers')['nid'] is not empty %}
            {% set link = path('entity.node.canonical', { 'node': bamboo_state_get('rp_offers.settings.collection.offers')['nid'] }) %}
            <p>{% trans %}Cette offre est terminée, <a href="{{ link }}" class="pretty-link">retour aux offres</a>.{% endtrans %}</p>
          {% else %}
            <p>{% trans %}Cette offre est terminée.{% endtrans %}</p>
          {% endif %}
          <div class="spacer spacer-md"></div>
        </div>
      </div>
  {% endif %}
{% endblock %}
