{% for categoryKey, category in variables.categories %}
    <div class="collapse-wrapper">
        <div class="category-collapse collapse-title collapsed" data-category-id="{{ categoryKey }}" role="button" data-toggle="collapse" href="#{{ categoryKey }}" aria-expanded="{{ category.collapsed ? 'false' : 'true'}}" aria-controls="{{ categoryKey }}" aria-label="Cliquez pour dérouler le contenu de la section {{ category.title }}.">
            <div class="button-bubble inline-block">
                <div class="bubble-icon">
                    <i class="retraitespopulaires-icon retraitespopulaires-icon-arrow-right"></i>
                </div>
            </div>
            <h5 class="inline-block">{{ category.title }}</h5>
            <div class="clearfix"></div>
        </div>
        <div id="{{ categoryKey }}" class="collapse-body collapse">
            <div class="row flex-row">
                {% for teaser in category.teasers %}
                    {%  set teaser = variables.teasers[teaser] %}
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="card card-white card-light">
                            <div class="card-body">
                                <div class="card-justify m-t-0">
                                    <p class="card-title"><a href="{{ teaser.nodeLink }}">{{ teaser.title }}</a></p>
                                    {% if teaser.info is not empty %}
                                        <div class="tooltip tooltip-info">
                                            <div class="tooltip-symbol tooltip-symbol-green" aria-label="Sample Text" title="" data-content="{{ teaser.info }}" data-placement="top" tabindex="0" data-toggle="popover" data-original-title="Information"></div>
                                        </div>
                                    {% endif %}
                                </div>
                                {{ teaser.description|raw }}
                            </div>
                            <div class="card-footer">
                                {{ bamboo_render_form('rp_quickwin', 'TeaserForm', {'field': teaser.field, 'button': teaser.button, 'node': teaser.node}) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
<div class="spacer"></div>