<div class="admin--detail-item container-fluid">
    <div class="block block--secondary">

    <div style="float:left;">
      <h2 class="">{{ variables.node.title.value }} - {{ variables.total }} {% trans %}participant(s){% endtrans %}</h2>

      <p style="float:left;">
        <a class="button button-action button--primary button--small" href="{{ path('rp_offers.admin.requests.csv', {'node' : variables.node.nid.value}) }}" target="_blank">{% trans %}Télécharger la liste{% endtrans %}</a>
      </p>
      <p style="float:left; margin-left:10px;">
        <a class="button button-action button--primary button--small" href="{{ path('rp_offers.admin.requests_winner.csv', {'node' : variables.node.nid.value}) }}" target="_blank">{% trans %}Télécharger la liste des gagnants{% endtrans %}</a>
      </p>
      <div style="clear: both;"></div>

      {% if not variables.node.field_draw_at.date %}
      <p>
        <a class="button button--secondary button--small" href="{{ path('rp_offers.admin.requests.draw', {'node' : variables.node.nid.value}) }}" target="_blank">{% trans %}Lancer le tirage au sort ({{ variables.node.field_available_offers.value }} coupons){% endtrans %}</a>
      </p>
      {% else %}
      <p class="clearfix">
        {% trans %}Le tirage au sort a été effectué le {{ variables.node.field_draw_at.date }}{% endtrans %}
      </p>
      {% endif %}
    </div>

    <div style="float:right;">
        {{ variables.search }}
    </div>

    <table class="responsive-enabled" data-striping="1">
      <thead>
        <tr>
          <th>{% trans %}Date de participations{% endtrans %}</th>
          <th>{% trans %}Informations{% endtrans %}</th>
          <th>{% trans %}Gagnants{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for request in variables.requests %}
        <tr class="odd">
          <td>{{ request.created_at|date("m/d/Y") }}</td>
          <td>
            {{ request.firstname.value|capitalize }} · <strong>{{ request.lastname.value|capitalize }}</strong><br>
            <a href="mailto:{{ request.email.value|lower }}">{{ request.email.value|lower }}</a><br>
            {{ request.address.value }}<br>
            {{ request.zip.value }} {{ request.city.value }}
          </td>
          <td>{% if request.winner.value %} <span class="ui-icon ui-icon-check"></span> {% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ variables.pager }}
    </div>
</div>
